.formElement{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.formElement label{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    font-size:1rem;
    font-weight:600;
}
.formElement input{
    width: 100%;
    padding: 0.8rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    font-size: 0.95rem;
}
.passwordBlock{
    width: 100%;
    position: relative;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
}
.passwordBlock input{
    width: 100%;
    border: none;
}
.eye{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8rem;
    cursor: pointer;
}
input::placeholder{
    font-size: 0.8rem;
    letter-spacing: 0.07rem;
    font-weight: 500;
    color: gray;
}
input:focus{
    outline:none;
}
input.errorField, .passwordBlock.errorField{
    border-color: red;
}
.error{
    color:red;
}