header{
    width: 100%;
    min-height: 400px;
    margin: auto;
    padding: 2rem 6% 7rem 6%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.aboutRecent{
    width: 100%;
    max-width: 400px;
    margin-top: 6em;
    color:white;
}
.aboutRecent h1{
    font-size: 4rem;
}
.pendingText{
    color:white;
    margin-top: 7.5rem;
    text-align: center;
    color: white;
}